# most personal files will be ignored for the sake of not actually flooding my gh log
# when i'm not doing anything productive related to SE/CS/web

# org files to ignore
journal.org
work.org
someday.org
tickler.org
tickler.org_archive
gtd.org
gtd.org_archive
gtd.odt
gtd.html
training.org
inbox.org
hackathon.org

# ignore temp files 
*/.#.#

# ignore non-toplevel
shared/

# i have no idea what this is
.gitignore.swp 
