# most personal files will be ignored for the sake of not actually flooding my gh log
# when i'm not doing anything productive related to SE/CS/web
journal.org
.#journal.org
_inbox.org
.#inbox.org
.#architecture.org
.#dsa.org
